{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "accounts:profile" %}';
</script>
{% endif %}
<style>

.hh{
    justify-content: center;
    column-count: 2;
    padding-top: 75px;
    padding-left: 110px;
    padding-right: 110px;
    }
</style>


    {% load static %}

    <div class="container-2 w-container">
      <div class="columns-6 w-row">
        <div class="column-12 w-col w-col-6">
          <div class="div-block-7">
        <div class="w-form">
            <form class="account-form p-4 rounded col-lg-10 mx-auto" action="." method="post">
                {% csrf_token %}
            <p class="h4 mb-2 font-weight-bold">Create an account</p>
            <p class="mb-4">It's free and only takes a minute.</p>

            {% if form.errors %}
            <p>Please correct the following errors:</p>
            {% for field in form %}
            {% if field.errors %}
            <div class="alert alert-primary" role="alert">
                {{ field.label }}: {{ field.errors|striptags }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}

            <label class="small font-weight-bold">{{ form.username.label }}<span class="text-muted">
                    (Required)</span></label>
            {{ form.username }}
            <label class="small font-weight-bold">{{ form.email.label}}<span class="text-muted">
                    (Required)</span></label>
            {{ form.email }}
            <label class="small font-weight-bold">{{ form.password.label}}<span class="text-muted">
                    (Required)</span></label>
            {{ form.password }}
            <small class="form-text text-muted mb-4">
                At least 8 characters and 1 digit
            </small>
            {{ form.password2 }}
            <small class="form-text text-muted mb-4">
                Repeat password
            </small>
            <button class="btn btn-dark btn-block py-2 mb-4 mt-5 font-weight-bold"
            type="submit">Register</button>

                <hr class="mb-3">
                <p class="small text-center">By clicking on register, you agree to Crowd Predictive Analytics's <a href="">Terms
                        of
                        Service</a> and
                    consent to
                    our <a href="">Cookie Policy</a> and <a href="">Privacy Policy</a>.
                </p>
            </form>
        </div>
    </div>
</div>
<div class="column-14 w-col w-col-6">
    <div class="div-block-8"><img src="{% static 'images/cubes.gif'%}" alt="" class="hero-image-2"></div>
    </div>
</div>
</div>

{% endblock %}